@import '../../variables';


.box-evaluete-card{
    padding: 2em;
    margin: 20px 0;
    background-color: $light-third-color;

    img{
        max-width: 100%;
    }

    .evaluate-title{
        font-size: 35px;
        font-weight: 400;
    }

    .box-evaluate{
        border: 1px solid $light-constract-color;
        border-radius: 2px;
        padding: 2em;
        margin: 1em;
        margin-bottom: 3em;
    }
}

.box-evaluete-card.dark{
    background-color: $dark-secondary-color;
    color: $dark-color;

    .box-evaluate{
        border: 1px solid rgba($color: $dark-el-primary-color, $alpha: .6);
    }
}