@import '../../variables';

.order-manager{
    font-weight: 500;
    .title{
        font-size: 25px;
        padding: 0;
        margin: 0;
    }

    .controller{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        background-color: $light-primary-color;
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        margin: 0;
        margin-top: 15px;
        border-radius: 3px;
        height: 100%;

        li{
            height: 100%;
            padding: 10px;
            cursor: pointer;

            &.active{
                border-bottom: 3px solid rgba($color: $link-color, $alpha: .7);
                color: rgba($color: $link-color, $alpha: .7);
            }
        }
    }

    .search-bar{
        position: relative;
        width: 100%;
        margin-top: 15px;
        
        input{
            width: 100%;
            padding: 10px 130px 10px 40px;
            border: 0;
            border-radius: 3px;
            background-color: #fff;

            &:focus{
                outline: 1px solid $light-el-primary-color;
            }

            &::placeholder{
                font-size: 15px;
            }
        }

        i{
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            color: $light-line-color;
        }

        button{
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 110px;
            text-align: end;
            border: 0;
            border-left: 1px solid rgba($color: $light-line-color, $alpha: .3);
            background-color: transparent;
            color: $link-color;
            font-family: 'Roboto', sans-serif;
        }
    }
}

.order-manager.dark{
    .controller{
        background-color: rgba($color: #fff, $alpha: .1);
        li{
            &.active{
                border-bottom: 3px solid rgba($color: $dark-el-primary-color, $alpha: 1);
                color: $dark-el-primary-color;
            }
        }
    }
    .search-bar{
        input{
            background-color: rgba($color: #fff, $alpha: .1);
            color: $dark-color;
            &:focus{
                outline: 1px solid rgba($color: $dark-el-primary-color, $alpha: .7);
            }
            &::placeholder{
                color: $dark-line-color;
            }
        }

        i{
            color: $dark-line-color;
        }

        button{
            color: $dark-el-primary-color;
            border-left: 1px solid rgba($color: $dark-line-color, $alpha: .3);
        }
    }
}